#a12{
    background-image: url('https://cdn.pixabay.com/photo/2019/10/15/13/33/red-deer-4551678__340.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    margin-top: -1px;
    margin-left: -7px;
    text-align: center;
    height: 600px;
    width: 20%;
}
div a{
    padding: 10px;
    color: white;
    text-decoration: none;
}
div a:hover{
    /* background-color: lightseagreen; */
    color: white;
    border: 1px solid white;
    border-radius: 8px;
}
